body {
  font-family: "RobotoDraft";
  font-weight: 300;
}

core-animated-pages {
  width: 85%;
  height: 85%;
  -webkit-user-select: none;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 2px;
}

core-animated-pages > * {
  border-radius: 5px;
  font-size: 50px;
  background-color: white;
}

body /deep/ core-toolbar {
  background-color: #1A237E;
  color: #fff;

}
.main-label {
  padding: 0 0 20px 30px;
  font-size: 1rem;
  font-family: RobotoDraft, sans-serif;
  font-weight: 300;

}
.main-label h1 {
  font-family: "aw-conqueror-carved-one", sans-serif;
  font-size: 1.3rem;
  line-height: .8rem;
}
/* menu */

core-menu {
  color: #444;
  margin: 10px 0 0 0;
}
/* menu item */
body /deep/ core-menu > paper-item {
  height: 56px;
  padding-left: 30px;
  font-size: 15px;
  color: #444;
  font-weight: normal !important;
}

polyfill-next-selector { content: 'core-menu paper-item.core-selected'; }
::content paper-item.core-selected {
  background-color: #69F0AE;
}

core-menu > paper-item {
  transition: all 300ms ease-in-out;
}

paper-item a {
  text-decoration: none;
  color: currentcolor;
  font-family: aw-conqueror-carved-one, sans-serif;
  margin-left: 5px;
}

core-menu > paper-item.core-selected {
  background: #69F0AE;
}

@media all and (max-width: 480px) {
  core-animated-pages {
    width: 100%;
    height: 100%;
  }
}